<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 flex-column text-center">
      <h3>Contact</h3>
      <br>
      <h5>入力内容の確認</h5>
      <p>各欄に内容が入力されていますか？
      （空欄があると送信できません）</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <ul class="list-unstyled col-12 col-md-8">
        <li>Name</li>
        <li class="bg-white p-1"><%= @contact.name %></li>
        <li>Mail Address</li>
        <li class="bg-white p-1"><%= @contact.email %></li>
        <li>Message</li>
        <li class="bg-white p-1"><%= @contact.message %></li>
    </ul>
  </div>
  <div class="row justify-content-center">
        <%= form_for @contact, method: :post, url: contacts_back_path do |form| %>
        	<%= form.hidden_field :name %>
        	<%= form.hidden_field :email %>
        	<%= form.hidden_field :message %>
        	<%= form.submit '入力画面に戻る', class: "btn btn:hover mx-1 text-center" %>
        <% end %>

        <%= form_for @contact, method: :post, url: contacts_path do |form| %>
        	<%= form.hidden_field :name %>
        	<%= form.hidden_field :email %>
        	<%= form.hidden_field :message %>
        	<%= form.submit '送信する',id: "contact-submit", class: "btn btn:hover mx-1 text-center" %>
        <% end %>
    </div>

  </div>
</div>