<div class="container">
  <div class="row col-12 justify-content-center">
    <div class="text-center">

      <h3>Contact</h3>

      <% if @contact.errors.any? %>
        <%= @contact.errors.count %>件のエラーが発生しました
        <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="row col-12 justify-content-center">
    <ul class="list-unstyled">
        <%= form_with model: @contact, url: contacts_confirm_path do |f| %>
          <li><%= f.label :name, "Name", class: "mb-0" %></li>
          <%= f.text_field :name, size: "30", style: "border: none" %>

          <li><%= f.label :email, "Mail Address", class: "mb-0" %></li>
          <%= f.email_field :email, size: "30", style: "border: none" %>

          <li><%= f.label :message, "Message", class: "mb-0" %></li>
          <%= f.text_area :message, size: "30", style: "border: none" %>

          <li class="text-center"><%= f.submit "Submit", class: "btn btn:hover" %></li>

        <% end %>
    </ul>
  </div>
</div>