<h1>Top</h1>
<p>ユルリモエの部屋</p>

<h3>ペン字練習帳</h3>
  <%= link_to '美文字練習帳', 'http://bimozi-training.com/' %>
    <p>美しい文字を身につけるための文字練習アプリです。お手本を見ながら繰り返し練習する事で、綺麗な文字が書けるようになることを目的としています。(タブレット端末推称)</p>

<h3>LINEスタンプ</h3>

  <%= link_to 'ぐらたん（もちもち）', 'https://store.line.me/stickershop/product/1697023/ja' %>
  <%= image_tag "guratan.png", alt: "Stamp icon", class: "image", width: "200px" %>
   <p>もちもちしている白い動物、ぐらたん。今日もなんだか楽しそう…。 誰でも気軽に使えるスタンプです。（ちょっぴり理系です。実験疲れのあなたにも癒しを。）</p>

  <%= link_to 'マカロニはパスタの一種です', 'https://store.line.me/stickershop/product/1615963/ja' %>
  <%= image_tag "macaroni.png", alt: "Stamp icon", class: "image", width: "200px" %>
   <p>マカロニっていろんな種類がありますよね。 淡い色使いでゆるいスタンプです。たぶん使いやすいです。</p>

  <%= link_to 'まめきちとわたし' ,'https://store.line.me/stickershop/product/1064256/ja' %>
  <%= image_tag "mamekichi.png", alt: "Stamp icon", class: "image", width: "200px" %>
   <p>ゆるっと暮らす2人と、その仲間たちです。</p>

<h3>イラストギャラリー</h3>

<h5>イラスト依頼</h5>
