
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-6">
                <%= image_tag "top-mado.png", width: "100%", class: "img-responsive" %>
            </div>
        </div>

        <div class="row justify-content-center">
            <h3 class="ribbon1 col-xl-3 col-md-5 col-10">ペン字練習サイト</h3>
        </div>
        <div class="row justify-content-center">
        <div class="col-12 col-md-10">

            <!--以下スライドショー-->
                <div class="swiper">
                  <div class="swiper-wrapper col-10 col-md-6">
                    <div class="swiper-slide"><%= image_tag "bimozi1.jpg", width: "100%", class: "img-responsive" %></div>
                    <div class="swiper-slide"><%= image_tag "bimozi2.jpg", width: "100%", class: "img-responsive" %></div>
                    <div class="swiper-slide"><%= image_tag "bimozi3.jpg", width: "100%", class: "img-responsive" %></div>
                  </div>
                  <!-- ページネーションの要素 -->
                  <div class="swiper-pagination"></div>
                  <!-- ナビゲーションボタン （前、次） -->
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>

              <!--ここまでスライドショー-->

                <div class="text-center">
                    <p>美しい文字を身につけるための文字練習アプリです。お手本を見ながら繰り返し練習する事で、綺麗な文字が書けるようになることを目的としています。(タブレット端末推称)</p>
                    <%= link_to 'Lets practice!', 'https://bimozi-training.com', class: "btn .btn:hover py-2 px-5" %>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <h3 class="ribbon1 col-xl-3 col-md-5 col-10">LINEスタンプ</h3>
        </div>

                    <div class="d-flex justify-content-center flex-wrap">
                       <div class="stamp-box">
                            <%= link_to 'ぐらたん（もちもち）', 'https://store.line.me/stickershop/product/1697023/ja' %>
                            <%= link_to 'https://store.line.me/stickershop/product/1697023/ja' do %>
                                <%= image_tag "guratan.png", alt: "Stamp icon", class: "image", width: "150px" %>
                            <% end %>
                            <p>もちもちしている白い動物、ぐらたん。今日もなんだか楽しそう…。</p>
                        </div>

                        <div class="stamp-box">
                            <%= link_to 'マカロニはパスタの一種です', 'https://store.line.me/stickershop/product/1615963/ja' %>
                            <%= link_to 'https://store.line.me/stickershop/product/1615963/ja' do %>
                                <%= image_tag "macaroni.png", alt: "Stamp icon", class: "image", width: "150px" %>
                            <% end %>
                            <p>マカロニっていろんな種類がありますよね。 淡い色使いでゆるいスタンプです。</p>
                        </div>

                        <div class="stamp-box">
                            <%= link_to 'まめきちとわたし' ,'https://store.line.me/stickershop/product/1064256/ja' %>
                            <%= link_to 'https://store.line.me/stickershop/product/1064256/ja' do %>
                                <%= image_tag "mamekichi.png", alt: "Stamp icon", class: "image", width: "150px" %>
                            <% end %>
                            <p>ゆるっと暮らす2人と、その仲間たちです。</p>
                        </div>
                    </div>

        <div class="row justify-content-center">
            <h3 class="ribbon1 col-xl-3 col-md-5 col-10">イラストギャラリー</h3>
        </div>
        <br>

        <div class="col-12 mx-auto">
            <% @pictures.each do |picture| %>
                <%= image_tag picture.image, size: "200x200" %>
            <% end %>
        </div>
        <div class="text-center mt-4">
            <%= link_to 'more view', pictures_path, class: "btn .btn:hover py-2 px-5 text-center" %>
        </div>


        <!--ページの上に移動できる矢印-->
        <span id="back">
          <a href="#">
            <%= image_tag "arrow.png", style: "opacity: 0.2;" %>
          </a>
        </span>


    </div>
