
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-6">
                <%= image_tag "top-mado.png", width: "100%", class: "img-responsive" %>
            </div>
        </div>

        <div class="row justify-content-center">
            <h3 class="ribbon1 col-xl-3 col-md-5 col-10">ペン字練習サイト</h3>
        <div class="text-center">

            <!--以下スライドショー-->
              <div class="swiper">
                  <div class="swiper-wrapper">
                     <%= image_tag "bimozi.png" %>
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                  </div>
                  <!-- ページネーションの要素 -->
                  <div class="swiper-pagination"></div>
                  <!-- ナビゲーションボタン （前、次） -->
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>

                <script>
                    const swiper = new Swiper('.swiper', {
                      //オプションの設定
                      loop: true, //最後までスライドしたら最初の画像に戻る

                      //ページネーション表示の設定
                      pagination: {
                        el: '.swiper-pagination', //ページネーションの要素
                      },

                      //ナビゲーションボタン（矢印）表示の設定
                      navigation: {
                        nextEl: '.swiper-button-next', //「次へボタン」要素の指定
                        prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
                      }
                       });

                </script>
              <!--ここまでスライドショー-->


                <!--スライドショー入れる前に表示していた画像（後で消す）-->
                <!--<div class="col-12">-->
                <!--  %= image_tag "bimozi.png", width: "80%", class: "img-responsive" %>-->
                <!--</div>-->

              <%= link_to '美文字練習帳', 'https://bimozi-training.com' %>

                <p>美しい文字を身につけるための文字練習アプリです。お手本を見ながら繰り返し練習する事で、綺麗な文字が書けるようになることを目的としています。(タブレット端末推称)</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <h3 class="ribbon1 col-xl-3 col-md-5 col-10">LINEスタンプ</h3>
        </div>

                    <div class="d-flex justify-content-center flex-wrap">
                       <div class="stamp-box">
                            <%= link_to 'ぐらたん（もちもち）', 'https://store.line.me/stickershop/product/1697023/ja' %>
                            <%= image_tag "guratan.png", alt: "Stamp icon", class: "image", width: "150px" %>
                            <p>もちもちしている白い動物、ぐらたん。今日もなんだか楽しそう…。 誰でも気軽に使えるスタンプです。</p>
                        </div>

                        <div class="stamp-box">
                            <%= link_to 'マカロニはパスタの一種です', 'https://store.line.me/stickershop/product/1615963/ja' %>
                            <%= image_tag "macaroni.png", alt: "Stamp icon", class: "image", width: "150px" %>
                            <p>マカロニっていろんな種類がありますよね。 淡い色使いでゆるいスタンプです。</p>
                        </div>

                        <div class="stamp-box">
                            <%= link_to 'まめきちとわたし' ,'https://store.line.me/stickershop/product/1064256/ja' %>
                            <%= image_tag "mamekichi.png", alt: "Stamp icon", class: "image", width: "150px" %>
                            <p>ゆるっと暮らす2人と、その仲間たちです。</p>
                        </div>
                    </div>

        <div class="row justify-content-center">
            <h3 class="ribbon1 col-xl-3 col-md-5 col-10">イラストギャラリー</h3>
        </div>
        <br>

            <div class="row col-10 mx-auto">
                <% @pictures.each do |picture| %>
                    <%= image_tag picture.image, size: "200x200" %>
                <% end %>
            </div>
            <div class="moreLink" style="width: 120px;">
                <%= link_to 'more view　', pictures_path %>
                <div class="line-arrow"></div>
            </div>


        <span id="back">
          <a href="#">
            <%= image_tag "arrow.png", style: "opacity: 0.2;" %>
          </a>
        </span>
            
        <script>
            $(function() {
              $('#back a').on('click',function(event){
                // 以下のセレクタ('body, html')は「body要素またはhtml要素」の意味。
                // 2つの要素を指定するのは、ユーザの利用環境によって指定対象の要素が変化するため。
                $('body, html').animate({ 
                  scrollTop:0
                }, 800);
                event.preventDefault();
              });
            });
        </script>


    </div>
