<main class="mb-auto">
    <div class="container">


      <h3>イラスト新規登録</h3>

      <!--登録エラーメッセージ-->
      <% if @picture.errors.any? %>
        <%= @picture.errors.count %>件のエラーが発生しました
        <% @picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>


      <%= form_with model: @picture, url:admin_pictures_path do |f| %>

        <ul>
          <li>
            <%= f.label :genre_id, "ジャンル名" %>
            <%= f.select :genre_id, {'Person': 1, 'Animal': 2, 'Others':3}, { include_blank: '選択してください'} %>
          </li>

          <li>
            <%= f.label :name, "イラスト名" %>
            <%= f.text_field :name %>
          </li>

          <li>
            <%= f.label :introduction, "イラスト説明" %>
            <%= f.text_area :introduction %>
          </li>

          <li>
            <%= f.label :image,"画像" %>
            <%= f.file_field :image, accept: "image/*" %>
          </li>
        </ul>
        <%= f.submit %>
      <% end %>

    </div>
</div>