<main class="mb-auto">
    <div class="container">


        <p><%= @picture.name %>のshowページ</p>

            <%= @picture.name %>
            <%= @picture.introduction %>

            <% if @picture.image.attached? %>
                <%= link_to image_tag(@picture.image, size: "400x400") %>
            <% else %>
                <%= link_to image_tag('no_image', size: "400x400") %>
            <% end %>

            <%= link_to "編集", edit_admin_picture_path(@picture.id) %>
    </div>
</div>