
<div class="container">

    <div class="row justify-content-center my-3">
        <h2>Gallery</h2>
    </div>
    <div class="row justify-content-center icon mb-5">
        <div class="btn">
          <%= link_to 'People', '#people-gallery' %><%= image_tag "icon-person.jpg", size: "40x40" %>
        </div>
        <div class="btn">
          <%= link_to 'Animals', '#animals-gallery' %><%= image_tag "icon-animal.jpg", size: "40x40" %>
        </div>
        <div class="btn">
          <%= link_to 'Others', '#others-gallery' %><%= image_tag "icon-other.jpg", size: "40x40" %>
        </div>
    </div>





        <% @pictures.each do |picture| %>
            <% if picture.image.attached? %>
                <%= link_to image_tag(picture.image, size: "200x200"), picture_path(picture.id) %>
            <% else %>
                <%= link_to image_tag('no_image', size: "200x200"), picture_path(picture.id) %>
            <% end %>
        <% end %>


      <div class="row justify-content-center">
        <ul id="people-gallery", class="list-unstyled semicircle-top text-center mb-0">
          <li>People</li>
          <li><%= image_tag "icon-person.jpg", size: "50x50" %></li>
        </ul>
      </div>
      <div class="gallery-box bg-white px-3 py-3">
        <% @pictures.each do |picture| %>
          <% if picture.genre_id == 1 %>
              <% if picture.image.attached? %>
                  <%= link_to image_tag(picture.image, size: "200x200"), picture_path(picture.id) %>
              <% else %>
                  <%= link_to image_tag(no_image, size: "200x200"), picture_path(picture.id) %>
              <% end %>
            <% end %>
          <% end %>
      </div>

      <div class="row justify-content-center">
        <ul id="animals-gallery", class="list-unstyled semicircle-top text-center mb-0">
          <li>Animals</li>
          <li><%= image_tag "icon-animal.jpg", size: "50x50" %></li>
        </ul>
      </div>
      <div class="gallery-box bg-white px-3 py-3">
        <% @pictures.each do |picture| %>
          <% if picture.genre_id == 2 %>
            <% if picture.image.attached? %>
                <%= link_to image_tag(picture.image, size: "200x200"), picture_path(picture.id) %>
            <% else %>
                <%= link_to image_tag(no_image, size: "200x200"), picture_path(picture.id) %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="row justify-content-center">
        <ul id="others-gallery", class="list-unstyled semicircle-top text-center mb-0">
          <li>Others</li>
          <li><%= image_tag "icon-other.jpg", size: "50x50" %></li>
        </ul>
      </div>
      <div class="gallery-box bg-white px-3 py-3">
        <% @pictures.each do |picture| %>
          <% if picture.genre_id == 3 %>
            <% if picture.image.attached? %>
                <%= link_to image_tag(picture.image, size: "200x200"), picture_path(picture.id) %>
            <% else %>
                <%= link_to image_tag('no_image', size: "200x200"), picture_path(picture.id) %>
            <% end %>
          <% end %>
        <% end %>
      </div>


        <!--ページの上に移動できる矢印-->
        <span id="back">
          <a href="#">
            <%= image_tag "arrow.png", style: "opacity: 0.2;" %>
          </a>
        </span>
</div>
