
<div class="container">

    <div class="row justify-content-center">
        <h3>Gallery</h3>
    </div>
    <div class="row justify-content-center">
        <%= link_to 'People', '#people-gallery' %><span>/</span>
        <%= link_to 'Animals', '#animals-gallery' %><span>/</span>
        <%= link_to 'Others', '#others-gallery' %>
    </div>





        <% @pictures.each do |picture| %>
            <% if picture.image.attached? %>
                <%= link_to image_tag(picture.image, size: "200x200"), picture_path(picture.id) %>
            <% else %>
                <%= link_to image_tag('no_image', size: "200x200"), picture_path(picture.id) %>
            <% end %>
        <% end %>


      <div class="row justify-content-center">
        <p id="people-gallery", class="semicircle-top text-center mb-0">People</p>
      </div>
      <div class="border border-white border-0 bg-white px-3 py-3">
        <% @pictures.each do |picture| %>
          <% if picture.genre_id == 1 %>
              <% if picture.image.attached? %>
                  <%= link_to image_tag(picture.image, size: "200x200"), picture_path(picture.id) %>
              <% else %>
                  <%= link_to image_tag('no_image', size: "200x200"), picture_path(picture.id) %>
              <% end %>
            <% end %>
          <% end %>
      </div>

      <div class="row justify-content-center">
        <p id="animals-gallery", class="semicircle-top text-center mb-0">Animals</p>
      </div>
      <div class="border border-white border-0 bg-white px-3 py-3">
        <% @pictures.each do |picture| %>
          <% if picture.genre_id == 2 %>
            <% if picture.image.attached? %>
                <%= link_to image_tag(picture.image, size: "200x200"), picture_path(picture.id) %>
            <% else %>
                <%= link_to image_tag('no_image', size: "200x200"), picture_path(picture.id) %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="row justify-content-center">
        <p id="others-gallery", class="semicircle-top text-center mb-0">Others</p>
      </div>
      <div class="border border-white border-0 bg-white px-3 py-3">
        <% @pictures.each do |picture| %>
          <% if picture.genre_id == 3 %>
            <% if picture.image.attached? %>
                <%= link_to image_tag(picture.image, size: "200x200"), picture_path(picture.id) %>
            <% else %>
                <%= link_to image_tag('no_image', size: "200x200"), picture_path(picture.id) %>
            <% end %>
          <% end %>
        <% end %>
      </div>


        <!--ページの上に移動できる矢印-->
        <span id="back">
          <a href="#">
            <%= image_tag "arrow.png", style: "opacity: 0.2;" %>
          </a>
        </span>
</div>
