
    <div class="container">

            <span>「</span><%= @picture.name %><span>」</span>
            <%= @picture.introduction %>


            <% if @picture.image.attached? %>
                <%= link_to image_tag(@picture.image, size: "400x400") %>
            <% else %>
                <%= link_to image_tag('no_image', size: "400x400") %>
            <% end %>

            <div class="moreLink justify-content-center" style="width: 120px;">
                <%= link_to "gallery　", pictures_path %>
                <div class="line-arrow"></div>
            </div>
    </div>
