<main class="mb-auto">
    <div class="container">


        <p><%= @picture.name %></p>

            <span>「</span><%= @picture.name %><span>」</span>
            <%= @picture.introduction %>


            <% if @picture.image.attached? %>
                <%= link_to image_tag(@picture.image, size: "400x400") %>
            <% else %>
                <%= link_to image_tag('no_image', size: "400x400") %>
            <% end %>


    </div>
</div>