<div class="container justify-content-center">
  <h3>お問い合わせ詳細</h3>
    <ul class="list list-unstyled">
      <li>ユーザー</li>
      <li class="bg-white"><%= @contact.name %>(<%= @contact.email %>)</li>
      <li>お問合せ内容</li>
      <div class="bg-white"><%= @contact.message %></div>
      <li><%= @contact.created_at.strftime('%Y/%m/%d %H:%M') %></li>
    </ul>
  </table>
  <%= link_to "お問合せ一覧へ戻る", admin_contacts_path,class: "btn btn:hover" %>
</div>