<!DOCTYPE html>
<html>
  <head>
    <!--fontawesomeの記述はstyle.cssの記述より前に書くこと-->
    <script src="https://kit.fontawesome.com/054f3bdfdc.js" crossorigin="anonymous"></script>
    <title>YururiMoe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--以下３行google font ひな明朝-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">
    <!--以下1行google font Noto Serif Japanese-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
    <!--以下Zen old mincho-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Zen+Old+Mincho&display=swap" rel="stylesheet">

  </head>
<body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag'logo.png', width: '100' %></a>
          <h3>ユルリモエの部屋</h3>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

                <% if admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'イラスト一覧', admin_pictures_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'イラスト登録', new_admin_picture_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'top', root_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'about', about_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'gallery', pictures_path, class: 'nav-link text-dark' %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-light pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>ユルリモエの部屋</p>

          </div>
          <div class="col-md-8">
            <h6 class="text-muted mt-2 mb-3">SNS</h6>
            <ul class="p-0 list-unstyled">
              <li><%= link_to 'https://www.instagram.com/yururi_moe/' do %><i class="fa-brands fa-instagram"></i><% end %> yururi moe</li>
              <li><%= link_to 'https://www.instagram.com/gura_tan_tan/' do %><i class="fa-brands fa-instagram"></i><% end %> guratan</li>
            </ul>
            <ul class="p-0 list-unstyled">

              <li><%= link_to 'top', root_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to 'about', about_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to 'gallery', pictures_path, class: 'nav-link text-dark' %></li>

            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>