<!DOCTYPE html>
<html>
  <head>
    <!--fontawesomeの記述はstyle.cssの記述より前に書くこと-->
    <script src="https://kit.fontawesome.com/054f3bdfdc.js" crossorigin="anonymous"></script>
    <title>YururiMoe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
